

html, body {
    background-image: radial-gradient(circle closest-side at 55% 25%,green 55%, grey 60%, transparent 75%),
                            radial-gradient(50% 50% at 25% 75%, white 15%, green 20%, white 30%, transparent 40%) ;
    background-size: 100px 100px;
  }
.mainContainer{
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.589);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.589),rgba(255, 255, 255, 0.381), rgba(255, 255, 255, 0.437));
    width: 89vw;
    height: 90vh;
    position: relative;
    left: 10vw;
    left: 11.5vw;
    left: 8vw;
    top: 6vh;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding-left: 1vw;
}
/* .menuLeft {
    width: 11.6vw;
    height: 100%;
    position: absolute;
    color: rgb(63, 62, 62);
} */
.fami{
    width: 8vw;
    height: 79%;
    background-color: green;
    position: absolute;
    top: 11.5%;
}

.sectA{
    width: 67%;
    height: 98.4%;
    overflow: auto;
    margin-top: 5px;
    padding-top: 1vw;

}
.sectB{
    width: 23%;
    height: 100%;
    background-color: rgba(11, 245, 11, 0.384);
    border-top: 8px dotted rgba(255, 255, 255, 0.589);
    position: relative;
}
.signeRecherche{
    width: 10px;
    height: 10px;
    background-color: rgb(63, 60, 60);
    position: absolute;
    border-radius: 5px;
    display: none;
}

.searchBar{
    position: absolute;
    top: -5vh;
    /* top: -8vh; */
    left: 3vw;
}
.menuBar{
    position: absolute;
    top: -30px;
    left: 33vw;
}

.closeBtn{
    /* position: absolute;  */
    left: 88%; 
    left: 71%; 
    top: 10px; 
    font-size: 2rem;
    position: fixed; 
    top: 0px;
}
.closeBtne{
  position: absolute; 
  left: 88%; 
  /* left: 71%;  */
  top: 10px; 
  font-size: 2rem;
  position: fixed; 
  /* top: 0px; */
}
.notif{
  position: absolute; 
  width: 500px;
  height: 10rem; 
  /* background-color: #85f786; */
  /* background-color: #bef9bf; */
  background-color: white;
  left:30vw;
  top: 30vh;
  align-content: center;
  text-align: center;
  font-size: 1.6rem;
  color: red;
  font-weight: 500;
  box-shadow: 0 0 35px white;
}
.separation{
    display: flex;
    width: auto;
    height: 30px;
}
.reduction{
    display: flex;
    height: 30px;
    color: grey;
    background-color:rgba(255, 255, 255, 0.315);
    margin-top: 20px;
}
.rdBtn{
    width:30px;
    border-radius:15px;
    border:4px solid black;
    margin: 0 20px;
}
.rdBtn-1{
    background-color:rgb(12, 124, 216);
}
.rdBtn-2{
    background-color:#e9e9d8ba;
}
.inpName-1{
    margin: 5px 0;
}
.c-b{
    color: black;
}
.tot-1{
    color: #ad9393;
    font-size: .93rem;
    text-decoration: line-through;
    margin-bottom: -1rem;
}
.inpBl{
    background-color: transparent;
    border: 1px solid transparent;
}