@font-face {
    font-family: RollingBeat;
    src: url(../assets/fonts/RollingBeat_PersonalUse.woff) format('woff'),
         url(../assets/fonts/RollingBeat_PersonalUse.woff) format('woff2');
}
@font-face {
    font-family: Sen;
    src: url(../assets/fonts/Sen-Bold.woff) format('woff'),
         url(../assets/fonts/Sen-Bold.woff2) format('woff2');
}

html, body {
    background-image: url(../../public/Background/bck5.jpeg);
    background-size: contain;
    background-position: right; /* Center the background image */
    background-repeat: repeat-x; 
  }

.confirmationContainer{
    display: flex;
    width: 100%;
    height: 40px;
    background: white;
    color: black;
    justify-content: center;
    align-items: center;
}
.mainContainer{
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.589);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.589),rgba(255, 255, 255, 0.381), rgba(255, 255, 255, 0.437));
    width: 89vw;
    height: 90vh;
    position: relative;
    left: 10vw;
    left: 11.5vw;
    left: 8vw;
    top: 6vh;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    padding-left: 1vw;
    /* background-color: red; */
}
.fami{
    width: 8vw;
    height: 79%;
    background-color: green;
    background-color: rgba(147, 221, 147, 0.432);
    position: absolute;
    top: 11.5%;
    display: none;
}
.famil{
    width: 11vw;
    height: 94%;
    transform: translate(0%, 3%);
    overflow: auto;
    border-right: 1px solid grey;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.sectA{
    /* width: 54%; */
    width: 76%;
    height: 98.4%;
    overflow: auto;
    margin-top: 5px;
    padding-top: 1vw;
    transition-duration: 100ms;
    /* margin: 0 1rem; */
}
.sectA-sides{
    width: 15vw; padding: 1rem 5px;
}
.sectA-13{
    width: 64%;
}
.sectB{
    width: 24%;
    height: 100%;
    background-color: rgba(11, 245, 11, 0.671);
    border-top: 8px dotted rgba(255, 255, 255, 0.589);
    position: relative;
}
.signeRecherche{
    width: 10px;
    height: 10px;
    background-color: rgb(63, 60, 60);
    position: absolute;
    border-radius: 5px;
    display: none;
}

.searchBar{
    position: absolute;
    top: -5vh;
    /* top: -8vh; */
    left: 3vw;
}
.nm-p2{
    top: -6.5vh;
    left: 25vw;
}
.nm-s2{
    font-size: 2rem;
    background-size: 60px 60px;
}
.namePharma{
    position: absolute;
    font-family: RollingBeat;
    background: radial-gradient(20% 20%,lime, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: cursive, RollingBeat;
}
.menuBar{
    position: absolute;
    top: -30px;
    left: 33vw;
    left: 43vw;
}

.closeBtn{
    /* position: absolute;  */
    left: 88%; 
    left: 71%; 
    top: 10px; 
    font-size: 2rem;
    position: fixed; 
    top: 0px;
}
.closeBtne{
  position: absolute; 
  left: 88%; 
  /* left: 71%;  */
  top: 10px; 
  font-size: 2rem;
  position: fixed; 
  /* top: 0px; */
}
.notif{
  position: absolute; 
  width: 500px;
  height: 10rem; 
  /* background-color: #85f786; */
  /* background-color: #bef9bf; */
  background-color: white;
  left:30vw;
  top: 30vh;
  align-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: red;
  font-weight: 500;
  box-shadow: 0 0 35px black;
  padding: 0 0.3rem;
}
.separation{
    display: flex;
    width: auto;
    height: 30px;
}
.reduction{
    display: flex;
    height: 30px;
    color: grey;
    background-color:rgba(255, 255, 255, 0.315);
    margin-top: 10px;
}
.rdBtn{
    width:30px;
    border-radius:15px;
    border:4px solid black;
    margin: 0 20px;
}
.rdBtn-1{
    background-color:rgb(12, 124, 216);
}
.rdBtn-2{
    background-color:#e9e9d8ba;
}
.inpName-1{
    margin: 5px 0;
}
.c-b{
    color: black;
}
.c-w{
    color: white;
}
.tot-1{
    color: #ad9393;
    font-size: .93rem;
    text-decoration: line-through;
    margin-bottom: -1rem;
}
.inpBl{
    background-color: transparent;
    border: 1px solid transparent;
}
.noDisp{
    display: none;
}
.w-90{
    width: 92%;
}
.fami-1{
    width: 92%;
    background-color: rgba(0, 50, 255, 0.315);
    height: 30px;
    margin: 5px 0;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 5px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    justify-content: center;
}
.dashBoardContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.warning{
    color: red;
    font-size: .8rem;
    margin-top: -1rem;
}
.BtnClean{
    background-color: rgba(0, 50, 255, 0.315);
}
.ml-10{
    margin: 0 10px;
}
.loader{
    background-color: transparent;
    display: flex;
    width: 100vw;
    height: 100vh;
}


/* For Controle */
.mainContainerCircle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background: #333; */
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-auto-rows: 20px;
    justify-items: center;
    margin-bottom: 10px;
}
.item{
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 15px;
}
.item:active{
    background-color: transparent;
    scale: 1.4;
}
.black{
    background-color: black;
    border: 2px solid black;
}
.cyan{
    background-color: cyan;
    border: 2px solid green;
}
.yellow{
    background-color: yellow;
    box-shadow: 0 0 10px greenyellow;
    border: 2px solid rgb(117, 9, 206);
}
.green{
    background-color: rgb(12, 124, 216);
    border: 2px solid rgb(12, 124, 216);
    background-color: lime;
    border: 2px solid green;
}
.red{
    background-color: rgb(253, 37, 37);
    border: 2px solid rgb(206, 9, 35);
}
::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 15px;
  }
  ::-webkit-scrollbar:horizontal{
    width: 2px;
  }
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    color: green;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    background-color: transparent;
    /* margin-bottom: 5px; */
  }
.controle{
    background-color: white; 
    position: relative; 
    height: 95%; 
    width: 90vw;
    left: 5vw; top: 2vh;
}
.controTitle{
    background-color: white;
    height: 8%; 
    width: 100%; 
    text-align: left; 
    align-content: center; 
    color: black;
}
.inTitle{
    display: inline-flex; 
    margin: 0px 10px;
}
.dateInput{
    margin-top: -2px; 
    width: 120px;
}

.controlIcons{
    /* display: inline-block;  */
    width: 20%; 
    height: 100%; 
    border:2px solid white; 
    overflow: auto;
}
.circlesMenu{
    display: block;
    background-color: transparent; 
    width: 100%;max-height: 14%; 
    padding: 5px 5px; 
    border-bottom: 2px solid white;
}
.logoMenu{
    display: block;
    background-color: transparent; 
    width: 100%;height: 18%; 
    padding: 5px 5px; 
    border-bottom: 2px solid white;
    cursor: pointer;
}
.logoMenu:active{
    display: block;
    background-color: greenyellow; 
    width: 100%;height: 20%; 
    padding: 5px 5px; 
    border-bottom: 2px solid white;
}
.logoIcon{
    /* position: absolute;  */
    font-size: 50pt;margin-left: 3vw;
    transform: translate(0, 15%);
}
.textMenu{
    /* position: absolute; */
    font-size: 15pt ;
    left: 9vw; 
    margin-top: 5vh;
}
.textMenu-p{
    position: relative;
    left: 0;
    top: -1rem;
}

.controlContent{
    display: block;
    width: 100%; height: 20px; 
    background-color: transparent;
    margin-bottom: 5px;
    border: 1px solid white;
}
.dynContent{
    width: 80%; height: 100%; 
    border:2px solid white;  
    color: black;
}

.elt{
    display: inline-flex;
    background-color: transparent; 
    height: 100%;
}
.contentElement1{
    width: 4%;
    color: green;
}
.contentElement11{
    display: inline-flex;
    background-color: grey; 
    width: 4%;height: 100%; 
    color: white;
    justify-content: center;
    border-radius: 4px;
}
.contentElement2{
    width: 18%;
}
.contentElement3{
    width: 5%;
    margin: 0 3px;
    /* justify-content: right; */
}
.contentElement4{
    width: 12%;
}
.elt5{
    width: 8%;
    justify-content: right;
}
.elt6{
    width: 5%;
    /* border: 1px solid blue; */
}
.elt7{
    display: inline-flex;
    background-color: transparent; 
    width: 3%;height: 100%;
}
.elt8{
    width: 2%;
}
.elt9{
    width: 1%;
}
.controlBody{
    height: 90%; width: 100%; 
    overflow: auto;
}
.controlFooter{
    background-color: white;
     height: 5%; width: 100%;
}
.total{
    color: rgb(0, 26, 255);
    margin-right: 3px ;
}
.p-2{
    padding: 2rem;
}
.ln-1{
    width: 100%; height: 20px; background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
    border: 1px solid white;
    font-size: .8rem;
}
.ln-2{
    width: 100%; height: 20px; 
    background-color: rgba(110, 196, 196, 0.5);
    margin-bottom: 5px;
    border: 1px solid white;
    font-size: .8rem;
}

.d-f{
    display: flex;
}
.bg-o{
    background-color: orange;
}
.br{
    border-radius: 5px;
}
.mt{
    margin-top: 2px;
}
.bg-b{
    background-color: rgb(86, 105, 211);
}
.bg-b-1{
    background-color: black;
}
.w-22{
    width: 25%;
}
.btn2{
    width: 30%;
    height: 80%;
}
.pay{
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 5px; cursor: pointer;
    position: absolute
}
.pay:active{
    scale: .8;
}
.s-cl{
    margin: 20px 0;
}
.s1-cl{
    margin: 0 10px;
}
.bg-a{
    background-color: aqua;
}
.bg-r{
    background-color: red;
}
.bg-g-1{
    background-color: green;
}.bg-g2{
    background-color: grey;
}
.bg-g1{
    background-color: rgba(216, 211, 211, 0.163);
}
.bg-g{
    background-color: grey;
}
.c-r{
    color: red;
}
.c-b-1{color: blue;}
.c-danger{color: #F93827;}
.c-g-1{
    color: green;
}
.c-g-2{
    color: grey;
}
.c-g1{
    color: greenyellow
}
.fw-8{
    font-weight: 800;
}
.pointer{
    cursor: pointer;
}
.little-lab{
    font-size: .8rem;
    color: black;
    margin-right: 4px;
}
.t-m-skin{
    font-weight: 700;
}
.sm-l{
    font-size: .8rem;
}
.ml-5{
    margin-left: 1rem;
}
.mb-5{
    margin-bottom: 0.5rem;
}
.pr-5{
    padding-right: 5px;
}
.ta-r{
    text-align: right; 
}
.bdbmr-5{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bd-w{
    border: 4px dashed white;
    transition-duration: 500ms;
}
.bd-b{
    border: 4px dashed black;
    transition-duration: 500ms;
}
.bd-b:hover, .bd-w:hover{
    transform: rotate(180deg);
}
.w-7{
    width: 7.5rem;
}
.hide{
    display: none;
}
select{
    background-color: rgba(25, 255, 25, 0.5);
    border-radius: 6px;
    color: black;
    font-weight: 600;
}
.notifCtl{
    transform: translate(28%);color:grey;
}
.c-t{
    color: transparent;
}
nav{
    display: flex;
    flex-direction: row;
    overflow: auto;
    /* overflow-x:hidden; */
    padding: 5px;
}
nav > button{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0 15px;
    transition-duration: 200ms;
    background-color: rgb(73, 70, 70);
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}
nav > button:active{
    scale: 0.7;
}
.se{
    font-family: Sen;
}
.paB{
    padding: 0.3rem 0.4rem;
    font-size: 1rem;
    border-radius: 8px;
    transform: translate(0, -15%);
}
.paB:active{
    scale: 0.8;
}

.authentif{
    padding: 0;
}
.loInp{
    padding: 15px;
    /* background-color: rgb(28, 35, 49); */
    background-color: black !important;
    /* border-style: hidden; */
    border: 1px dashed white;
    color: rgb(5, 252, 5);
    text-align: center;
}
.loInp::-ms-fill{
    background-color: red;
}
.loInp2{
    padding-top: 15px;
    padding-bottom: 10px;
}
label[class='se']{
    background-color: black;
    position: absolute;
    transform: translate(-50%, 50%);
    border-radius: 3px;
    padding: 0 5px;
}
.loFooter{
    color: white;
    position: relative;
    top: 20%;
    font-size: 0.8rem;
    font-weight: 800;
}
div > section {
    border: 3px dashed transparent;
    border-radius: 12px;
    /* transform: translate(0, 50%); */
    margin-top: 2.5rem;
    text-align: center;
    backdrop-filter: blur(12px);
    /* background: linear-gradient(120deg, rgba(255, 0, 0, 0.459), rgba(0, 0, 255, 0.473)); */
    background: linear-gradient(120deg, red, blue);      
}
#paraContainer::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: -2;
    border-radius: 12px;
}

#paraContainer::before{
    --s: 39px; 
    --c1: #6b53445e;
    --c1: #286ae6;
    --c1: #3a3634ea;
    --c2: #f8ecc917;
    --c2: rgba(255, 255, 255, 0.123);
    
    --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
    background:
      radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
      radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
      radial-gradient(100% 100%,#0000 22%,var(--c1) 23% 29%, #0000 30% 34%,var(--c1) 35% 41%,#0000 42%),
      var(--c2);
    background-size: calc(var(--s)*2) calc(var(--s)*2);
}
  #paraContainer::before {
    --s: 5px; /* control the size*/
    --c1: #c7956d;
    --c1: black;
    --c2: #5e435200;
    
    --c:#0000 46.46%,var(--c1) 0 53.53%,#0000 0;
    --d:calc(10*var(--s)) calc(10*var(--s));
    --g:/var(--d) conic-gradient(at 40% 40%,#0000 75%,var(--c1) 0);
    background:
      conic-gradient(at 40% 40%,#0000 75%,var(--c2) 0) 
       calc(9*var(--s)) calc(9*var(--s))/
       calc(5*var(--s)) calc(5*var(--s)),
      calc(8*var(--s)) calc(8*var(--s)) var(--g),
      calc(3*var(--s)) calc(3*var(--s)) var(--g),
      linear-gradient( 45deg,var(--c)) 0 0/var(--d),
      linear-gradient(-45deg,var(--c)) 0 0/var(--d) var(--c2);
  }
.co-inte{
    display: flex;
    justify-content: center;
}

.inpShape {
    --s: 20px; /* control the shape */
    
    line-height: 1.2; /* control the height */
    padding-inline: .3em calc(var(--s) + .3em);
    clip-path: polygon(0 0,calc(100% - var(--s)) 0,100% 50%,calc(100% - var(--s)) 100%,0 100%);
    background: #f8fafa;
    width: fit-content;
    height: 1vh;
  }
.co-inte > div{
    margin: 0 15px;
    padding: 1rem;
}
.co-inte > div >input{
    padding: 0.5rem;
}
.co-inte > div >label{
    color: white;
}
.co-inte > div:nth-child(2) > input{
    background-color: white;
    /* background-color: lime; */
    border-color: transparent;
}
.co-inte > div:nth-child(2) > input:focus{
    border-color: transparent;
    color: blue;
}
.co-inte > div:nth-child(3) > input{
    /* background: linear-gradient(to right, red, blue); */
    background-color: black;
    color: white;
}
.sta{
    position: absolute;
    width: 5%;
    height: 30%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    color: white;
}
.okContainer{
    background-color: rgb(59, 218, 59);
}
.nOContainer{
    background-color: red;
}
.brd-red{
    background-color: red;
}
.pa-3{
    padding: 0.3rem;
}
.ta-c{
    text-align: center;
}
.mt-3{
    margin-top: 0.3rem;
}
.clk:active{
    scale: 0.8;
}

/* From page.vue */

.facturierContainer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: transparent;
    color: black;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.mv-pop{
    transform: translate(-70%, 0);
}
.sm-title{
    font-size: 0.85rem;
    font-weight: 800;
}
.qt-title{
    display: absolute;
    left: 1rem;
    color: red;
    display: inline;

    /* transform: translate(150%,0); */
}
.umutiPrice{
    display: flex;
    justify-content: center;
}
.umutiPrice-1, .umutiPrice-2{
    display: flex;
    width: 50%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}
.umutiPrice-2{
    border-left: 1px solid lime;
}
.rdBtn-cl{
    position: absolute;
    background-color: red;
    top: 5px;
    left: 5px;
    z-index: 1;
}
.m-cl{
    width: 10px;
    height: 10px;
    position: absolute;
}
.deci{
    display: inline-flex;
    flex-direction: column;
    height: auto;
    background-color: blue;
    position: absolute;
    transform: translate(9vw, -12vh);
    
}
.deci-nu{
    display: flex;
    justify-content: center;
}
.bg-ht{
    background-color: #a3df5f;
}
.full-w{
    width: 80%;
}
.half-w{
    width: 40%;
}